/vendor/
/node_modules/
/.php-cs-fixer.cache
/.phpunit.cache/
/.phpunit.result.cache
/coverage/
/deptrac.cache
/phpstan/resultCache.php
/.deptrac.cache
/.idea/
/.vscode/
.env
.env.local
.env.testing
npm-debug.log
yarn-error.log
pnpm-debug.log
public/storage
storage/*
!storage/.gitkeep
!storage/logs/.gitkeep
!storage/framework/.gitkeep
!storage/framework/cache/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
.DS_Store
Thumbs.db
