includes:
  - vendor/nunomaduro/larastan/extension.neon
  - vendor/nunomaduro/larastan/rules.neon

parameters:
  level: 6
  paths:
    - app
    - routes
    - database
    - config
    - tests

  excludePaths:
    analyse:
      - storage
      - vendor
      - bootstrap/cache
      - public
      - node_modules

  bootstrapFiles:
    - vendor/autoload.php

  checkModelProperties: true
  checkMissingIterableValueType: false
